@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@1&display=swap');

* {
    margin: 0px;
    padding: 0px;
    color: white;
}

body {
    font-family: 'JetBrains Mono', monospace;
    font-family: Verdana, Helvetica, sans-serif;
    background: rgb(67, 64, 64);
}

.red {
    color: red;
}

.red::placeholder {
  color: red;
}

input {
  text-align: center;
  color: rgb(20, 20, 20);
  width:40vw;
  box-sizing: border-box;  
}
#roomsList {
  position: absolute;
  margin: auto;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 10px;
}

header img {
    width: 100%;
}

a:link {
    color: darkblue;
}

a:visited {
    color: purple;
}

a:hover {
    color:darkred;
}

a:active {color: rebeccapurple;}

nav ul {
    background: rgb(20, 20, 20);
    padding: 10px;
}
nav ul li {
    background: #787878;
    padding: 5px;
    border: solid 2px white;
    display: inline-block;
    font-family: 'JetBrains Mono', monospace;
    font-weight:500;
    font-size: larger;
}

nav ul li a:link {
    color: white;
    text-decoration:none;
}
nav ul li a:visited {
    color: white;
    text-decoration:none;
}
nav ul li a:hover {
    color: darkred;
    text-decoration:none;
}
nav ul li a:active {
    color: red;
    text-decoration:none;
}

section {
    padding: 5px;
    margin: 5px;
    border: double 4px #787878;
    border-radius: 8px 8px 20px 20px;
    transition: 0.4s;
}
section:hover {
    border: double 4px white;
}

footer {
    background: black;
    position:absolute;
    bottom: 0%;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
}
footer.lowerfoot {bottom: -40px;}

footer img {
    float:left;
    position:relative;
    height: 30px;
    left: 44%;
    transform: translate(-50%);
}

footer h5 {
    text-align: center;
    font-variant-caps:small-caps;
    position: relative;
}